//Colors
$color-primary: #b66fff;
$color-primary-light: #dfb7ff;
$color-primary-dark: #9d47ff;

$color-light: #f7f9f6;

$color-grey-dark: #808080;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Card colors

$card-color-1-dark: #093807;
$card-color-1-light: #5cf751;

$card-color-2-dark: #0f2b40;
$card-color-2-light: #6dc2fa;

$card-color-3-dark: #e01d07;
$card-color-3-light: #fa9c91;

$card-color-4-dark: #ffb71d;
$card-color-4-light: #ffd374;

 
