.section-info {
    background-color: $color-light;
    padding: 30rem 0 15rem;
    margin-top: -30vh;

    @include respond(tab-port) {
        padding: 30rem 0 35rem;
    }
}

.section-tours {
    position: relative;
    background-color: $color-light;
    padding: 10rem 0 30rem;
    margin-top: -30vh;
    @include respond(phone) {
        padding-bottom: 0 0 20rem;
    }
}

.section-guides {
    position: relative;
    padding: 10rem 0 40rem;
}
